    <article class="post">
        <header>
            <h2 class="post__title">
                Lorem, ipsum dolor.
            </h2>
        </header>
        <div class="post__body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam culpa inventore beatae fugit debitis, autem at dolorum provident accusantium nesciunt harum quo dolore doloribus. Excepturi, facilis voluptatum cupiditate consequatur et aut molestias sapiente possimus quas tempora optio incidunt ad quaerat eum assumenda corrupti laborum provident, dignissimos quae inventore suscipit non.
        </div>
    </article>